.slider {
    width: 90%;
    margin: 20px auto;
    /*box-shadow: 0 0 10px #999;*/
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid lightgray;
}
.slider_image {
    width: 100%;
    height: 80vh;
    object-fit: cover;

}
.slider_body {
    overflow: hidden;
}
.slider_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.slider_button {
    width: 50px;
    height: 50px;
    background: none;
    border: 2px solid #9E9E9E;
    border-radius: 50%;
    margin: 0 10px;
}
.slider_button:hover {
    cursor: pointer;
    background: #bdbdbd;
}
.slider_button:focus {
    outline: none;
    border-color: #42A5F5;
}

button img {
    color: black;
    max-width: 1.4em;
    height: auto;
}